@import "../../main.scss";

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $primary-main;
  background-image: url("../../assets/icons/background3.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
